DATABASE_URL="database url"
SESSION_SECRET="change-this-before-production"
NEXT_PUBLIC_SITE_URL="https://sunsparkelectricals.co.ke"
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORTCODE=""
MPESA_PASSKEY=""
EMAIL_FROM="support@sunsparkelectricals.co.ke"
